/*
* GTK 4 Colors
* Converted from Matugen template
*/

:root {
    --adw-accent-rgb: 198 191 255;
    --adw-accent-bg-rgb: 198 191 255;
    --adw-accent-fg-rgb: 46 41 95;

    --adw-window-bg-rgb: 19 19 24;
    --adw-window-fg-rgb: 229 225 233;

    --adw-headerbar-bg-rgb: 19 19 24;
    --adw-headerbar-fg-rgb: 229 225 233;

    --adw-popover-bg-rgb: 19 19 24;
    --adw-popover-fg-rgb: 229 225 233;

    --adw-view-bg-rgb: 19 19 24;
    --adw-view-fg-rgb: 229 225 233;

    --adw-card-bg-rgb: 19 19 24;
    --adw-card-fg-rgb: 229 225 233;

    --adw-sidebar-bg-rgb: 19 19 24;
    --adw-sidebar-fg-rgb: 229 225 233;
    --adw-sidebar-border-rgb: 19 19 24;
    --adw-sidebar-backdrop-rgb: 19 19 24;
}
