[SddmGreeterTheme]
Name=Genshin
Description=Genshin Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
