[SddmGreeterTheme]
Name=windows_7
Description=windows_7 Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
