@import "colors.css";

window {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16pt;
  color: @on_background;
  background-color: @surface-alpha;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  border-radius: 12px;
  margin: 12px;
  margin-top: 375px;
  margin-bottom: 375px;
}

button:hover {
  background-size: 30%;
  outline-style: none;
  background-color: @primary;
  color: transparent;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.3s ease-in;
}

button:focus {
  background-size: 50%;
  outline-style: none;
  background-color: @primary;
  color: transparent;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.3s ease-in;
}

#logout {
  background-image: image(url("./icons/logout.png"));
}
#logout:focus,
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}
#sleep {
  background-image: image(url("./icons/hibernate.png"));
}
#sleep:focus,
#sleep:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
}
#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:focus,
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}
#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:focus,
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}
#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:focus,
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}














