[SddmGreeterTheme]
Name=pixel-night-city
Description=pixel-night-city Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
