[SddmGreeterTheme]
Name=minecraft
Description=minecraft Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
